<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">
    <resultMap id="resultMap2" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="email" column="email"></result>
    </resultMap>

    <resultMap id="getEmpAndDeptResultMapOne" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="email" column="email"></result>
        <result property="age" column="age"></result>
        <result property="dept.did" column="did"></result>
        <result property="dept.deptName" column="dept_name"></result>
    </resultMap>
<!--    1、设置别名"Emp getAllEmp(@Param("id") Integer id);-->
        <select id="getAllEmp1" resultType="Emp">
            select eid,emp_name empName,age,sex,email from t_emp
        </select>

<!--    2、逐一设置resultMap映射关系：每个设置映射名-->
    <select id="getAllEmp2" resultMap="resultMap2">
        select * from t_emp
    </select>

<!--    3、设置驼峰
        在全局配置文件mybatis-config.xml中，加入如下属性配置信息：
            <settings><setting name="mapUnderscoreToCamelCase" value="true"/> </settings> -->
    <select id="getAllEmp" resultType="Emp">
        select *  from t_emp
    </select>

<!--    List<Emp> getAllEmpAndDept();-->
    <select id="getAllEmpAndDept" resultMap="getEmpAndDeptResultMapOne">
        select *
        from t_emp
                 left join t_dept on t_emp.did = t_dept.did
        where eid = #{eid}
    </select>


</mapper>