<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">
    <resultMap id="resultMap2" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="email" column="email"></result>
    </resultMap>

    <resultMap id="getEmpAndDeptByStepResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="email" column="email"></result>
        <result property="age" column="age"></result>
        <!--
        select: 设置分步查询的sql的唯一标识（namespace.SQLId或mapper接口的全类名.方法名）
        column：分步查询的条件
        fetchType: 当开启了全局的延迟记载后，可通过此属性手动控制延迟加载的效果
        fetchType："lazy/eager" lazy表示延迟加载，eager表示立即加载
-->
        <association property="dept"
                     select="com.atguigu.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="did"
                     fetchType="lazy">
        </association>
    </resultMap>


<!--    1、级联方式处理映射关系-->
    <resultMap id="getEmpAndDeptResultMapOne1" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="email" column="email"></result>
        <result property="age" column="age"></result>
        <result property="dept.did" column="did"></result>
        <result property="dept.deptName" column="dept_name"></result>
    </resultMap>

<!--   2、使用association处理映射关系-->
    <resultMap id="getEmpAndDeptResultMapOne" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="email" column="email"></result>
        <result property="age" column="age"></result>
        <association property="dept" javaType="Dept">
            <result property="did" column="did"></result>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>



<!--    1、设置别名"Emp getAllEmp(@Param("id") Integer id);-->
        <select id="getAllEmp1" resultType="Emp">
            select eid,emp_name empName,age,sex,email from t_emp
        </select>

<!--    2、逐一设置resultMap映射关系：每个设置映射名-->
    <select id="getAllEmp2" resultMap="resultMap2">
        select * from t_emp
    </select>

<!--    3、设置驼峰
        在全局配置文件mybatis-config.xml中，加入如下属性配置信息：
            <settings><setting name="mapUnderscoreToCamelCase" value="true"/> </settings> -->
    <select id="getAllEmp" resultType="Emp">
        select *  from t_emp
    </select>

<!--    List<Emp> getAllEmpAndDept();-->
    <select id="getAllEmpAndDept" resultMap="getEmpAndDeptResultMapOne">
        select *
        from t_emp
                 left join t_dept on t_emp.did = t_dept.did
        where eid = #{eid}
    </select>

    <!--    Emp getEmpAndDeptByStepOne(@Param("eid") Integer eid);-->
    <select id="getEmpAndDeptByStepOne" resultMap="getEmpAndDeptByStepResultMap">
        select * from t_emp where eid = #{eid}
    </select>

    <!--List<Emp> getDeptAndEmpByStepTwo(@Param("did") Integer did);-->
    <select id="getDeptAndEmpByStepTwo" resultType="Emp">
        select * from t_emp where did = #{did}
    </select>




</mapper>